# Служебное Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# Конфиги под конкретную машину
*.vcxproj.user

# Билдовые папки
Debug/
Release/
x64/
GeneratedFiles/
HtmlDoc/
AdefFolder/

# Объектные и прочие временные файлы
*.obj
*.pdb
*.idb
*.tlog
*.ipch
*.pch
*.log
*.tmp
*.windows


*.zip
*.7z
*.rar
*.bak
*.txt
*.ico
*.jpg
*.db
*.xlsm
*.xlsx
*.png
Example_Function.cpp